<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tales for the Loop</title>
    <!-- add CSS -->
  </head>
  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>Tales from the Loop</h1>
        <nav>
            {{!-- this is the conditional log in --}}
          {{#if logged_in}}
            <a href="/profile">DashBoard</a>
            <button class="no-button" id="logout">LogOut</button>
            <h2>Featured content</h2>
          {{else}}
            <p class="login"><a href="/login">LogIn</a></p>
          {{/if}}
        </nav>
      </header>
      </div>
      <main class="container container-fluid mt-5">
        {{{body}}}
      </main>
      <footer>

      </footer>
    
    {{#if logged_in}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>