<div class="row">
    <div class="col-md-6">
        <h4>Login</h4>

        <form class="form login-form">
            <div class="form-group" id="email-login">
                <label for="email-login"></label>
                <input class="form-input" type="text" id="email-login" placeholder="email"/>
            </div>
            <div class="form-group" id="password-login">
                <label for="password-login"></label>
                <input class="form-input" type="password" id="password-login" placeholder="password"/>
            </div>
            <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
        </form>
    </div>

    <div class="col-md-6">
    <h4>Sign Up</h4>
    <form class="form signup-form">
      <div class="name-signup" id="name-signup">
        <label for="name-signup"></label>
        <input class="form-input" type="text" id="name-signup" placeholder="username"/>
      </div>
      <div class="email-signup" id="email-signup">
        <label for="email-signup"></label>
        <input class="form-input email-signup" type="text" id="email-signup" placeholder="email"/>
      </div>
      <div class="form-group" id="password-signup">
        <label for="password-signup"></label>
        <input class="form-input password-signup" type="password" id="password-signup" placeholder="password"/>
      </div>
      <div class="form-group">
        <button class="signup-form" type="submit">signup</button>
      </div>
    </form>
  </div>
  
</div>

<script src="/login"></script>