<div class="row">
    <div class="col-auto">
        <h2> Let's Blog {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Create a New Post:</h3>

        <form class="form new-post-form">
            <div class="form-group">
                <label for="post-name">Blog Post Name:</label>
                <input class="form-input" type="text" id="post-name" name="post-name" />
            </div>

            <div class="form-group">
                <label for="blog-body">Create Your Post</label>
                <input class="form-input" type="text" id="blog-body" name="blog-body"/>
                <textarea class="form-input" id="blog-post" name="blog-post"></textarea>
            </div>

            <div class="form-group">
                <button type="form-group" class="btn btn-primary">Create Blog Post</button>
            </div>
        </form>
    </div>

    {{#if blogpost.length}}
    <div class="col-md-6 post-list">
        <h3>Recent Blog Posts</h3>

        {{#each blogpost as |blogpost|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.name}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{blogpost.id}}">Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="../public/javascript/profile.js"></script>
{{!-- needs a source, I may need to create the source --}}